<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SMTPServer" value="mail.xpanxion.co.in" />
    <add key="SMTPFrom" value="mayurn@xpanxion.co.in" />
    <add key="SMTPUser" value="abhijeetd@xpanxion.co.in" />
    <add key="SMTPPassword" value="Welcome7" />
    <add key="SMTPPort" value="587" />
  </appSettings>
</configuration>