<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SMTPServer" value="mail server IP" />
    <add key="SMTPFrom" value="sender email id" />
    <add key="SMTPUser" value="user id" />
    <add key="SMTPPassword" value="your_password" />
    <add key="SMTPPort" value="587" />
  </appSettings>
</configuration>